%p
  student name is
  %b= student.name
  student is leaving in
  %b= student.city
  Student email is
  %b= student.email
  If you have any query or complaint for 
  %b= student.name
  please email on 
  %b= student.email 
  and if you want to direct contact then go to 
  %b= student.city
